body {
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
}

a {
    text-decoration: none;
}

#partners-wrapper {
    position: relative;
}

#liquid-top-left {
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    position: fixed;
}

.partners-heading {
    font-family: Poppins;
    font-size: 30pt;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 28px;
    z-index: 1;
}

.partners-subheading {
    color: whitesmoke;
    font-family: Roboto;
    font-size: 16pt;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 25px;
    z-index: 1;
}

.partner-paragraph {
    
}

.partners-header {
    width: 810px;
    height: 150px;
    margin: auto;
    background: #2b65d9;
    margin-bottom: 10px;
    margin-top: 80px;
    box-shadow: 0px 0px 57px -30px rgba(0,0,0,0.25);
    color: white;
}

.partners-grid {
    z-index: 2;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-auto-rows: minmax(400px, auto);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;    
    margin-bottom: 100px;
}

.partners-card {
    border-top: 4px solid #eee;
    background: white;
    box-shadow: 0px 0px 57px -30px rgba(0,0,0,0.25);
    transition: 0.2s;
}

.partners-card span {
    position: relative;
    top: 2px;
    left: 2px;
    margin-right: 3px;
    pointer-events: none;
}

.partners-card-heading {
    color: black;
    font-family: Poppins;
    font-size: 18pt;
    font-weight: 800;
    text-align: center;
    position: relative;
    top: 28px;
    margin: 0 30px;
    z-index: 1;
    
}

.partners-card-subheading {
    color: black;
    font-family: Roboto;
    font-size: 16pt;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 50px;
    margin: 0 20px;
    z-index: 1;
    transition: 0.2s;
}

.partners-card-button {
    position: relative;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.68);
    top: 75px;
    border-radius: 2px;
    margin: auto;
    width: 260px;
    height: 60px;
    background: #f2ac29;
    color: white;
    display: grid;
    font-family: Poppins;
    font-size: 16pt;
    font-weight: 500;
    place-items: center;
    transition: 0.2s;
}

.partners-card-button:hover {
    background: #2b65d9;
    transform: scale(1.03);
}

 /* .partners-card:hover {
    margin: 3px 3px 3px 3px;
}  */

.partner-logo {
    text-align: center;
    position: relative;
    top: 20px;
}

@media only screen and (max-width:850px) {
    .partners-grid {
        grid-template-columns: 400px;
    }

    .partners-header {
        width: 400px;
    }
}

